%section.home
  %h1 User Home

  - current_user.groups.each do |g|
    %section.journal
      %h1= g.name
      = render :partial => 'transactions/form', :locals => { :journal => g.journal }
      = render :partial => 'transactions/list', :locals => { :transactions => g.journal.transactions }