%section.flash
  .alert.rounded-s You must signed in first!
  .notice.rounded-s Notice message
  .alert.rounded-s Alert message
  .errors.rounded-s Error message

%section.landing
  %header
    %h1 Public Home
      
  %article.ipsum.grid_8.alpha
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
    
  %article.ipsum.grid_8.omega
    %form
      %label(for="email")email:
      %input(type="text")
      %label(for="password")password:
      %input(type="password")
      %label(for="file")avatar:
      %input(type="file")
      %input(type="radio" name="sex")Male
      %input(type="radio" name="sex")Female
      %input(type="checkbox" name="options")Option 1
      %input(type="checkbox" name="options")Option 2
      %input(type="checkbox" name="options")Option 3
      %select(name="ComOS")
        %option(selected label="none" value="none")
          None
          %optgroup( label="PortMaster 3")
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
          %optgroup( label="PortMaster 3")
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
          %optgroup( label="PortMaster 3")
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
          %optgroup( label="PortMaster 3")
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
            %option(label="3.7.1" value="pm3_3.7.1")PortMaster 3 with ComOS 3.7.1
      .buttons
        %button(name="revert" type="revert" class="standard")revert
        %input(type="submit" value="send" class="positive")
        %input(type="reset" value="reset" class="negative")
            
  %article.ipsum.grid_12.prefix_4
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.