body { background-color: #fff; color: #333; }

body, p, ol, ul, td, input {
font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
font-size: 0.9em;
 line-height: 1.5em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
*/
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.badge {
display:inline;
position:relative;
top:-0.4em;
font-size:0.5em;
font-weight:normal;
font-color:#f9f9f9;
background-color:#87E968;
padding:0.2em 0.5em;
-moz-border-radius: 4px/*{cornerRadius}*/; 
-webkit-border-radius: 4px/*{cornerRadius}*/; 
border-radius: 4px/*{cornerRadius}*/;
}

.inline_form {
display: inline;
}