.usernav
  - if user_signed_in?
    = image_tag(current_user.avatar, :alt => "@#{current_user.name}", :class => "profile_image_small") if current_user.avatar
    != link_to('Sign out', signout_path)
  - else
    = link_to('Sign in', signin_path)