/* image replacement icon buttons */
$iconsize:24px;
.edit, .delete{text-indent:-99999px;background-repeat:no-repeat;display:block;}
.edit{background-image:url('/assets/icons/24x24/pencil.png');width:$iconsize;height:$iconsize;}
.delete{background-image:url('/assets/icons/24x24/trash.png');width:$iconsize;height:$iconsize;}

/* BUTTONS */
.buttons a, .buttons button{
    display:block;
    float:right;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #cdcdcd;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px 16px 3px 15px; /* Links */

	-moz-border-radius: 4px/*{cornerRadius}*/; 
	-webkit-border-radius: 4px/*{cornerRadius}*/; 
	border-radius: 4px/*{cornerRadius}*/;
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:18px;
    height:18px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#f5f5f5;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#00AFF0;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#00AFF0;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}