// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey:#E1E1E1;
$medium-grey:#999;
$dark-grey:#333;

.transactions-list {
  clear:both;
  margin-top:1em;  
  background:#fff;
  border:1px solid $light-grey;
  color:$dark-grey;
  font-size:0.8em;
  
  .grouping-date {
    padding: 0.25em 0;
    text-align: center;
    background: $light-grey;
    margin-top: 1.6em;
    border: 1px solid $light-grey;
  }

  .transaction {
    position:relative;
    padding:1em 0;
    margin:0 1em;
    border-bottom:1px dashed #ccc;
    li {display:inline-block;}
    .date {color:$medium-grey;width:28%;}
    .amount {width:70%;text-align:right;}
    .currency {padding:0 0.5em;text-align:center;font-size:0.8em;font-weight:bold;vertical-align:bottom;}
    .cny {background:#DF7474;}
    .hkd {background:#9EC9E5;}
    .usd {background:#A6CF95;}
    .cad {background:#99583B;}
    .notes {width:100%;}
    .tags {display:none;}
    .created-at {display:none;}

    .grouped {
      .date {display:none;}
      .created-at  {display:none;}
    }
  }
  
  .actions {margin:1em;text-align:right;}
}

.journal .entry {
  form {margin:0.5em 0 1em;}
  textarea {width:100%;}
}