// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transactions {
  clear:both;
  margin-top:1em;
  
  .grouping-date {
    padding: 0.25em 0;
    text-align: center;
    background: #EEE;
    margin-top: 1.6em;
    border: 1px solid #CCC;
    color: #555;
  }
  
  .transaction {
    position:relative;
    margin-top:1em;
    vertical-align:top;
    li {display:inline-block;}
    
    .currency {top:0px;width:35px;text-align:center;line-height:15px;font-size:0.6em;}
    .cny {background:#DF7474;}
    .hkd {background:#9EC9E5;}
    .usd {background:#A6CF95;}
    .cad {background:#99583B;}
    .amount {width:80px;text-align:right;}
    .tags {margin-left:23px;width:250px;text-align:right;}
    .notes {padding:4px 5%;width:90%;background:#fff;border:1px solid #E1E1E1;color:#9BA9B7;font-size:0.8em;}
    .actions {position:absolute;left:-46px;top:0px;width:38px;margin-top:7px;}
    
    .grouped {
      .date {display:none;}
      .time {display:none;}
    }
  }
}

.journal .entry {
  form {margin:0.5em 0 1em;}
  textarea {width:100%;}
}