@import "../themes/b150.css.scss";

.journal {
  clear:both;
  
  .transaction {
    padding:1em 0;
    border-bottom:1px dashed #ccc;
    li {display:inline-block;}
    .date {color:$lite-text;width:28%;}
    .amount {width:70%;text-align:right;}
    .currency {padding:0 0.5em;text-align:center;font-size:0.8em;font-weight:bold;vertical-align:text-top;}
    .CNY {background:#DF7474;}
    .HKD {background:#9EC9E5;}
    .USD {background:#A6CF95;}
    .CAD {background:#99583B;}
    .notes {width:100%;}
    .tags {display:none;}
    .created-at {display:none;}

    .grouped {
      .date {display:none;}
      .created-at  {display:none;}
    }
  }
  
  .grouping-date {
    padding: 0.25em 0;
    text-align: center;
    background: $block-color;
    margin-top: 1.6em;
    border: 1px solid $border-color;
  }
}