@import "../themes/b150.css.scss";

// overflow fix for textarea wrapper
.offix {padding-right:14px;}

input[type="text"],input[type="password"],input[type="file"],
select, textarea
  {width:100%;padding:2px 4px;resize:none;border:2px solid $border-color;-moz-border-radius: 0.4em;-webkit-border-radius: 0.4em;border-radius: 0.4em;}


