html, body {
  margin:0 0;
  width:100%;
  height:100%;
}
#container {
  min-height:100%;
  position:relative;
  height: auto !important;
}

section.flash {
  margin-bottom:1em;

  .errors, .alert, .notice {
    padding:1em;
    border:1px solid #87C87B;
    color:#87C87B;
  }  
  .errors, .alert {
    border-color:#CD2D2B;
    color:#CD2D2B;
  }
  .notice { 
    border-color:#E4CA50;
    color:#E4CA50;
  }
}

section.usernav {
  clear:both;
  width:100%;
  height:48px;

  background:#333;
  color:#999;
  a, a:hover, a:active {
    color:#eee;
  }
  
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-left:0;
      line-height: 40px;
      display:inline-block;
      vertical-align:top;
      padding:0 3px;
    }
  }
  
  .userbar {
    position:absolute;
    top:3px;
    right:10px;
    img {
      border:1px solid #666;
      margin-top:2px;
    }
  }
}
section.main {
  clear:both;
  min-height:100%;
  margin:1em auto 2em;
}

section.footer {
  clear:both;
	position:absolute;
	bottom:0;
  width:100%;
  font-size:0.75em;
  
  .block {
    text-align:center;
  }
}