@import "../themes/b150.css.scss";

.left{text-align:left;}
.right{text-align:right;}

body {font-family:$reg-fonts;color:$reg-text;font-size:$reg-size;}
h1, h2, h3, h4, h5, h6 {font-family:$header-fonts;}
input, textarea, select {font-family:$form-fonts;font-size:$reg-size;}

