@import "../themes/b150.css.scss";

.left{text-align:left;}
.right{text-align:right;}

body {font-size:16px;font-family: $reg-fonts;color:$reg-text}
h1, h2, h3, h4, h5, h6 {font-family:$header-fonts;}
input, textarea {font-family:$form-fonts;}

