// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transactions {
  ol.list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 27px;
      display:inline-block;
      vertical-align:top;
    }
    
    li.date {width:100px;}
    li.amount {width:50px;}
    li.notes {width:150px;}
  }
}