%section.home.rounded-m.grid_7.alpha
  %h1 Transactions
  
  %section.journal.rounded-m.grid_7.alpha
    = render :partial => 'transactions/list', :locals => { :style => "grouped", :journal => @journal }
    = paginate @transactions
    
    .links.right
      =link_to "home", home_path
