%section.home
  %h1 Transactions
  %section.group.rounded-m
    %section.journal.grid_7
      %h1= "#{@journal.group.name} journal"
      = render :partial => 'transactions/list', :locals => { filter:params["filter"], tags:params["tags"], journal:params[:journal], page:params[:page] }
      = paginate @transactions
    
      .links.right
        =link_to "back", home_path
    .clear