%section.home.rounded-m.grid_7.alpha
  %h1 Transactions
  
  %section.journal.rounded-m.grid_7.alpha
    = render :partial => 'transactions/list', :locals => { :style => "grouped", :journal => @journal, :limit => 20 }
    .links.right
      =link_to "back", saved_return_to
