$offwhite:darken(#fff,20%);
$grey:#888;
$light-grey:lighten($grey, 25%);
$medium-grey:lighten($grey, 5%);
$dark-grey:darken($grey, 25%);
$red:#C80000;
$yellow:#F3F241;
$green:#06C000;
$dark-green:#568C24;
$dark-red:#C63B2D;

$b150-orange:#F36E00;
$b150-blue:#1700F3;

$border-color:$light-grey;
$block-color:lighten($light-grey, 15%);
$reg-text:$dark-grey;
$lite-text:$medium-grey;
$reg-size:16px; // TODO set to 16px for tablets

$reg-fonts:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$form-fonts:$reg-fonts;
$header-fonts:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; // SERIF
// $header-fonts:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; // SANS-SERIF