$light-grey:#C9C9C9;
$medium-grey:#999;
$dark-grey:#333;
$red:#C80000;
$yellow:#F3F241;
$green:#06C000;

$b150-orange:#F36E00;
$b150-blue:#1700F3;

$border-color:$light-grey;
$block-color:lighten($light-grey, 10%);
$reg-text:$dark-grey;
$lite-text:$medium-grey;
